/** Default pages (e.g. post) */
main {
  flex-grow: 1;
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: var(--layout-width);
}

main[data-layout="base"],
main[data-layout="page"],
main[data-layout="post"],
main[data-layout="paginated"] {
  --page-shell-sticker-size: 175px;
  --page-shell-sticker-factor: 2;
  --page-shell-gap: var(--space-2xl);
  --page-shell-row-gap: var(--space-lg);
  --page-shell-main-width: var(--content-width-module);

  display: grid;
  row-gap: var(--page-shell-row-gap);
  column-gap: var(--page-shell-gap);
  grid-template-areas:
    "title sticker"
    "main sticker"
    "main side"
    "pagination pagination";
  grid-template-columns:
    min(
      var(--page-shell-main-width),
      calc(
        100% - var(--page-shell-sticker-factor) * var(--page-shell-sticker-size) -
          var(--page-shell-gap)
      )
    )
    minmax(
      calc(var(--page-shell-sticker-factor) * var(--page-shell-sticker-size)),
      1fr
    );
  grid-template-rows: auto auto 1fr;
  padding-block: var(--layout-space);
}

main[data-layout="base"] {
  grid-template-areas:
    "title sticker"
    "side sticker"
    "main -";
}

main[data-layout="post"] {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "pagination";

  padding-left: 0;
  padding-right: 0;
}

main[data-layout="post"],
main[data-layout="paginated"] {
  padding-bottom: 0;
}

/** Layout hooks used by page templates */
.--sticker > svg {
  width: var(--page-shell-sticker-size);
  margin-inline: auto;
}

.--title {
  grid-area: title;
}

.--main {
  grid-area: main;
}

.--side {
  grid-area: side;
  width: 100%;
}

.--sticker {
  grid-area: sticker;
}

.--pagination {
  grid-area: pagination;
}

/** Media queries*= */
@media (--bp-page-shell-stack) {
  main[data-layout] {
    --page-shell-sticker-size: 225px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  main[data-layout="base"] {
    grid-template-areas:
      "sticker"
      "title"
      "side"
      "main";
  }

  main[data-layout="page"],
  main[data-layout="paginated"] {
    grid-template-areas:
      "sticker"
      "title"
      "main"
      "side"
      "pagination";
  }

  .--title {
    text-align: center;
  }
}
