.pagination {
  --pagination-padding: var(--space-lg);
  --pagination-margin-top: var(--space-3xl);
  --pagination-hover-background: var(--link-color);
  --pagination-hover-text: var(--surface-0);

  width: 100%;
  display: grid;
  grid-area: pagination;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--surface-2);
  margin-inline: auto;
  margin-top: var(--pagination-margin-top);
}

.pagination > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: none;
}

.pagination .newer[data-exists="true"],
.pagination .older[data-exists="true"] {
  transition: all 0.3s ease;
  padding: var(--pagination-padding);
  height: 100%;
}

.pagination .newer[data-exists="true"]:hover,
.pagination .older[data-exists="true"]:hover {
  background-color: var(--pagination-hover-background);
  color: var(--pagination-hover-text);
}

.pagination .newer[data-exists="true"]:hover a,
.pagination .older[data-exists="true"]:hover a {
  color: var(--pagination-hover-text);
}

.pagination > * a {
  align-self: flex-start;
  font-weight: bold;
}

.pagination > *:last-child a {
  align-self: flex-end;
  text-align: right;
}

.pagination > *:last-child .subtitle {
  align-self: flex-end;
}

@media (--bp-pagination-stack) {
  .pagination {
    --pagination-padding: var(--space-sm);
    grid-template-columns: 1fr;
  }

  .pagination .newer {
    border-right: none;
  }

  .pagination .older {
    border-left: none;
  }

  .pagination .newer[data-exists="true"] + .older[data-exists="true"] {
    border-top: 1px solid var(--surface-2);
  }
}
