.card {
  --card-width: 46ch;
  --card-bg: var(--surface-1);
  --card-padding: var(--space-large);

  background-color: var(--card-bg);
  padding: var(--card-padding);
  position: relative;
  box-shadow: var(--shadow-default);
  width: 100%;
  max-width: var(--card-width, var(--layout-main-content));

  /* corner brackets via the `corners` primitive */

  h2 {
    font-size: var(--size-small);
    text-transform: uppercase;
    color: var(--text-2);
  }
}
@media (--bp-layout) {
  .card {
    --card-width: 100%;
  }
}
