/** Default pages (e.g. post) */
main {
  flex-grow: 1;
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: var(--layout-width);
}

main[data-layout="base"],
main[data-layout="page"],
main[data-layout="post"],
main[data-layout="paginated"] {
  --sticker-size: 175px;
  --sidebar-width: 275px;

  display: grid;
  row-gap: var(--space-huge);
  column-gap: var(--space-huge);
  grid-template-areas:
    "title sticker"
    "main sticker"
    "main side"
    "pagination pagination";
  grid-template-columns:
    min(
      var(--layout-main-content),
      calc(100% - var(--sidebar-width) - var(--space-huge))
    )
    minmax(var(--sidebar-width), 1fr);
  grid-template-rows: auto auto 1fr;
  padding-block: var(--space-huge);
}

main[data-layout="base"] {
  grid-template-areas:
    "title sticker"
    "side sticker"
    "main -";
}

main[data-layout="post"] {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "pagination";

  padding-left: 0;
  padding-right: 0;
}

main[data-layout="post"],
main[data-layout="paginated"] {
  padding-bottom: 0;
}

/** Layout hooks used by page templates */
.--sticker > svg {
  width: var(--sticker-size);
  margin-inline: auto;
}

.--title {
  grid-area: title;
}

.--main {
  grid-area: main;
}

.--side {
  grid-area: side;
  width: 100%;
}

.--sticker {
  grid-area: sticker;
}

.--pagination {
  grid-area: pagination;
}

.--full-width {
  grid-column: 1 / -1;
}

/** Media queries*= */
@media (--bp-layout) {
  main[data-layout] {
    --sticker-size: 225px;

    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  main[data-layout="base"] {
    grid-template-areas:
      "sticker"
      "title"
      "side"
      "main";
  }

  main[data-layout="page"],
  main[data-layout="paginated"] {
    grid-template-areas:
      "sticker"
      "title"
      "main"
      "side"
      "pagination";
  }

  .--title {
    text-align: center;
  }
}
