.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: var(--space-gap-list);
  row-gap: 0.5ch;
  font-size: var(--size-small);

  a::before {
    content: "#";
    font-size: 0.9em;
    color: var(--link-color);
  }

  a[data-selected="true"] {
    font-weight: var(--fw-bold);
  }
}
