<ul class="post-list hover-group | flex --column --gap-huge">
  {% for post in posts %}
    <li class="sidebar --left --gap-small">
      <div class="meta | flex --column">
        <time class="italic text-2 size-small" date="{{ post.data.date }}">{{ post.data.date | readableDate }}</time>
      </div>
      <div class="flex --column">
        <h3>
          <a href="{{ post.page.url }}">
            {{ post.data.title }}
          </a>
        </h3>
        <p class="text-1">{{ post.data.description }}</p>
      </div>
    </li>
  {% endfor %}
</ul>
