<ul role="list" class="post-list hover-group | flex --column --gap-huge">
  {% for post in posts %}
    <li class="flex --column | click-area" role="listitem">
      <h3>
        <a href="{{ post.page.url }}">
          {{ post.data.title }}
        </a>
      </h3>
      <p class="text-1">{{ post.data.description }}</p>
      <div class="italic text-2 size-small | flex --row --gap-list">
        <time date="{{ post.data.date }}">{{ post.data.date | readableDate }}</time>
      </div>
    </li>
  {% endfor %}
</ul>
