<ul

  aria-label="List of all tags"
  class="tag-list | flex --row | monospace"
>
  {% for tag in tags %}
  <li>
    <a href="/tags/{{ tag }}/" data-selected="{{tag === selected}}">{{ tag }}</a>
  </li>
  {% endfor %}
</ul>
