/* Main wrapper */
article {
  --article-max-width: var(--layout-article);
  --article-padding: var(--space-default);
  --article-full-bleed-width: calc(
    var(--article-max-width) + 2 * var(--article-padding)
  );

  container-type: inline-size;
  container-name: post;
  display: flex;
  width: 100%;
  max-width: var(--article-max-width);
  flex-direction: column;

  /** General flow */
  header {
    margin-bottom: var(--space-large);
  }

  > * + * {
    margin-block-start: var(--space-large);
  }

  > * + h2 {
    margin-block-start: var(--space-huge);
  }

  > :is(h2, h3) + * {
    margin-block-start: var(--space-small);
  }

  /** header links */
  > :is(h2, h3) {
    position: relative;
    transition: color 300ms;
    outline: none;

    a {
      transition: all 300ms;
      cursor: pointer;
      color: var(--text-2);
      font-weight: var(--fw-regular);
      opacity: 0.4;
      text-decoration: none;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
      }
    }

    &:hover {
      color: var(--accent-color);

      a {
        opacity: 1;
        color: var(--accent-color);
      }
    }
  }

  /** lists */
  :where(ul, ol):not([class]) {
    list-style: outside;
    padding-left: 0;

    > li {
      margin-left: var(--space-large);

      &::marker {
        color: var(--accent-color);
        font-weight: var(--fw-bold);
      }
    }
  }

  ul:not([class]) li {
    list-style-type: "✦  ";
  }

  ol:not([class]) {
    list-style: decimal outside;
  }

  /** quotes */
  blockquote {
    display: block;
    position: relative;
    padding: 0 var(--space-default);
    color: var(--text-2);
    font-style: italic;

    &::before {
      background: var(--accent-color);
      content: "";
      height: calc(100% + 1px);
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }

    > cite {
      display: block;
      width: 100%;
      font-size: var(--size-small);
      font-style: italic;
      text-align: right;
      margin-top: var(--space-small);
      color: var(--accent-color);
    }
  }

  /** special elemenst */
  :where(img, pre, .callout, .cp_embed_wrapper) {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: var(--article-full-bleed-width);
    box-shadow: 0 var(--shadow-y) var(--shadow-blur) var(--glow-color);
  }

  /** code + codeblocks */
  code {
    font-weight: var(--fw-regular);
    font-family: var(--monospace);
    font-variation-settings: var(--font-vars-code);
  }

  pre {
    background-color: var(--code-bg);
    color: var(--code-default);
    border-radius: 0;

    code {
      padding: var(--article-padding);
      font-size: var(--size-small);
    }
  }

  :not(pre) > code {
    color: var(--code-inline);
  }
}

/** SYNTAX */
article .token.punctuation,
article .token.comment,
article .token.operator {
  color: var(--code-muted);
  font-weight: var(--fw-light);
}

/** SYNTAX */
article .token.keyword,
article .token.tag {
  color: var(--code-muted);
}

/** To overwrite the above colors */
article .token.attr-value {
  color: var(--code-default);
}

article .token.attr-name,
article .token.selector {
  color: var(--code-primary);
}

article .token.property,
article .token.function,
article .token.rule,
article .token.atrule {
  color: var(--code-secondary);
}

article .token.string,
article .token.number {
  color: var(--code-tertiary);
}

article .token.function,
article .token.rule,
article .token.atrule,
article .token.comment,
article .token.keyword {
  font-style: italic;
}

/** smaller headers on smaller screens */
@container post (inline-size < 40rem) {
  article h1 {
    font-size: var(--size-header);
  }

  article h2 {
    font-size: var(--size-subheader);
  }
}
