.pattern {
  position: absolute;
  inset: 0;
  width: 100%;
  height: calc(100vh - 20rem);
  z-index: -1;
  background: linear-gradient(
    var(--surface-0),
    var(--canvas-color),
    var(--canvas-color),
    var(--surface-0)
  );
  opacity: 0.25;
  mask-image: url("../site/pattern.svg");
  mask-size: 16px;
  mask-repeat: repeat;
}
