.callout {
  --callout-bg: var(--accent-color);
  --callout-text: var(--surface-0);

  padding: var(--space-default);
  background-color: var(--surface-1);
  position: relative;

  &::before {
    content: "<aside />";
    font-family: var(--monospace);
    font-variation-settings: var(--font-vars-code);
    font-size: var(--size-small);
    position: absolute;
    display: block;
    top: -0.675em;
    padding: 0 6px;
    background-color: var(--callout-bg);
    color: var(--callout-text);
  }

  a,
  a:visited {
    text-decoration: underline;
    text-decoration-color: var(--text-0);
  }
}
