pre {
  background-color: var(--code-bg);
  color: var(--code-default);
  border-radius: 0;

  code {
    padding: var(--article-padding);
    font-size: var(--size-small);
  }
  --corner-color: var(--accent-color);
  --corner-thickness: var(--bw-effect);
  --corner-arm: var(--space-default);

  &::before {
    content: "";
    position: absolute;
    inset: calc(var(--corner-thickness) * -2);
    pointer-events: none;

    background-image:
      linear-gradient(var(--corner-color) 0 0), linear-gradient(var(--corner-color) 0 0),
      linear-gradient(var(--corner-color) 0 0), linear-gradient(var(--corner-color) 0 0),
      linear-gradient(var(--corner-color) 0 0), linear-gradient(var(--corner-color) 0 0),
      linear-gradient(var(--corner-color) 0 0), linear-gradient(var(--corner-color) 0 0);
    background-repeat: no-repeat;
    background-size:
      var(--corner-arm) var(--corner-thickness),
      var(--corner-thickness) var(--corner-arm),
      var(--corner-arm) var(--corner-thickness),
      var(--corner-thickness) var(--corner-arm),
      var(--corner-arm) var(--corner-thickness),
      var(--corner-thickness) var(--corner-arm),
      var(--corner-arm) var(--corner-thickness),
      var(--corner-thickness) var(--corner-arm);
    background-position:
      top left,
      top left,
      top right,
      top right,
      bottom left,
      bottom left,
      bottom right,
      bottom right;
  }
}

/** SYNTAX */
code .token.punctuation,
code .token.comment,
code .token.operator {
  color: var(--code-muted);
  font-weight: var(--fw-light);
}

/** SYNTAX */
code .token.keyword,
code .token.tag {
  color: var(--code-muted);
}

/** To overwrite the above colors */
code .token.attr-value {
  color: var(--code-default);
}

code .token.attr-name,
code .token.selector {
  color: var(--code-primary);
}

code .token.property,
code .token.function,
code .token.rule,
code .token.atrule {
  color: var(--code-secondary);
}

code .token.string,
code .token.number {
  color: var(--code-tertiary);
}

code .token.function,
code .token.rule,
code .token.atrule,
code .token.comment,
code .token.keyword {
  font-style: italic;
}
