pre {
  --codeblock-padding: var(--space-default);

  background-color: var(--code-bg);
  color: var(--code-default);
  border-radius: 0;

  /* corner brackets applied centrally in corners.css */

  code {
    padding: var(--codeblock-padding);
    font-size: var(--size-small);
  }
}

/** SYNTAX */
code .token.punctuation,
code .token.comment,
code .token.operator {
  color: var(--code-muted);
  font-weight: var(--fw-light);
}

/** SYNTAX */
code .token.keyword,
code .token.tag {
  color: var(--code-muted);
}

/** To overwrite the above colors */
code .token.attr-value {
  color: var(--code-default);
}

code .token.attr-name,
code .token.selector {
  color: var(--code-primary);
}

code .token.property,
code .token.function,
code .token.rule,
code .token.atrule {
  color: var(--code-secondary);
}

code .token.string,
code .token.number {
  color: var(--code-tertiary);
}

code .token.function,
code .token.rule,
code .token.atrule,
code .token.comment,
code .token.keyword {
  font-style: italic;
}
