footer {
  /* centering owned by the `center` layout primitive */
  --layout-threshold: var(--layout-width);

  position: relative;
  padding-block: var(--space-layout);
  font-family: var(--monospace);
  font-variation-settings: var(--font-vars-code);
  font-size: var(--size-small);
  border-top: var(--bw-default) solid var(--color-divider);

  .quote {
    width: 100%;
    font-family: var(--monospace);
    font-variation-settings: var(--font-vars-code);

    &::before,
    &::after {
      font-weight: var(--fw-bold);
      color: var(--color-accent);
    }

    &::before {
      content: "~\/{";
    }

    &::after {
      content: "}";
    }
  }
}
