footer {
  position: relative;
  padding-block: var(--space-layout);
  font-family: var(--monospace);
  font-variation-settings: var(--font-vars-code);
  font-size: var(--size-small);
  inset: 0;
  top: unset;
  border-top: var(--bw-default) solid var(--surface-2);
  width: 100%;
  max-width: var(--layout-width);
  margin-inline: auto;

  .quote {
    width: 100%;
    font-family: var(--monospace);
    font-variation-settings: var(--font-vars-code);

    &::before,
    &::after {
      font-weight: var(--fw-bold);
      color: var(--header-color);
    }

    &::before {
      content: "~\/{";
    }

    &::after {
      content: "}";
    }
  }
}
