/**
 * INFO BOX
 *
 * General style of the info-box primarily used in articles
 */

.info,
.archive {
  padding: var(--p-size-0);
  background-color: var(--surface-1);
  font-size: 0.9em;
  position: relative;
}

.info a,
.info a:visited,
.archive a,
.archive a:visited {
  text-decoration: underline;
  text-decoration-color: var(--text-0);
}

.info::before,
.archive::before {
  position: absolute;
  display: block;
  top: -0.675em;
  font-size: var(--p-size--1);
  color: var(--info-text);
  padding: 0px 6px;
  background-color: var(--info-background);
  border-radius: var(--radius);
}

.info::before {
  content: "<aside />";
}

.archive::before {
  content: "<archive />";
}
