/**
 * INFO BOX
 *
 * General style of the info-box primarily used in articles
 */

.info,
.archive {
  --info-box-padding: var(--space-default);
  --info-box-background: var(--surface-1);
  --info-box-badge-text: var(--text-on-accent);
  --info-box-badge-background: var(--fill-accent);
  --info-box-badge-padding-inline: 6px;
  --info-box-badge-offset: -0.675em;

  padding: var(--info-box-padding);
  background-color: var(--info-box-background);
  position: relative;
}

.info a,
.info a:visited,
.archive a,
.archive a:visited {
  text-decoration: underline;
  text-decoration-color: var(--text-0);
}

.info::before,
.archive::before {
  position: absolute;
  display: block;
  top: var(--info-box-badge-offset);
  font-size: var(--size-small);
  color: var(--info-box-badge-text);
  padding: 0 var(--info-box-badge-padding-inline);
  background-color: var(--info-box-badge-background);
  border-radius: var(--radius-0);
}

.info::before {
  content: "<aside />";
}

.archive::before {
  content: "<archive />";
}
