/** Default pages (e.g. post) */
main {
  flex-grow: 1;
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: var(--layout-width);
}

main[data-layout="base"],
main[data-layout="page"],
main[data-layout="post"],
main[data-layout="paginated"] {
  --size: 175px;
  --factor: 2;
  --gap: var(--p-size-4);

  display: grid;
  row-gap: var(--p-size-2);
  column-gap: var(--gap);
  grid-template-areas:
    "title sticker"
    "main sticker"
    "main side"
    "pagination pagination";
  grid-template-columns:
    min(var(--p-bp-3), calc(100% - var(--factor) * var(--size) - var(--gap)))
    minmax(calc(var(--factor) * var(--size)), 1fr);
  grid-template-rows: auto auto 1fr;
  padding-block: var(--layout-space);
}

main[data-layout="base"] {
  grid-template-areas:
    "title sticker"
    "side sticker"
    "main -";
}

main[data-layout="post"] {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "pagination";

  padding-left: 0;
  padding-right: 0;
}

main[data-layout="post"],
main[data-layout="paginated"] {
  padding-bottom: 0;
}

/** utilities */
.--sticker > svg {
  width: var(--size);
  margin-inline: auto;
}

.--title {
  grid-area: title;
}

.--main {
  grid-area: main;
}

.--side {
  grid-area: side;
  width: 100%;
}

.--sticker {
  grid-area: sticker;
}

.--pagination {
  grid-area: pagination;
}

/** Media queries*= */
@media only screen and (max-width: 870px) {
  main[data-layout] {
    --size: 225px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  main[data-layout="base"] {
    grid-template-areas:
      "sticker"
      "title"
      "side"
      "main";
  }

  main[data-layout="page"],
  main[data-layout="paginated"] {
    grid-template-areas:
      "sticker"
      "title"
      "main"
      "side"
      "pagination";
  }

  .--title {
    text-align: center;
  }
}
