.section-header {
  --section-header-gap: var(--space-md);
  --section-header-size: 0.9em;
  --section-header-prefix-color: var(--text-1);

  font-family: var(--monospace);
  font-variation-settings: var(--font-vars-code);
  color: var(--header-color);
  font-size: var(--section-header-size);
  text-transform: lowercase;
  font-weight: var(--fw-bold);

  text-decoration: underline;
  text-decoration-color: hsl(from var(--header-color) h s l / 30%);
  text-decoration-thickness: 0.625ch;
  text-underline-offset: -0.35ch;
  text-decoration-skip-ink: none;
}

.section-header::before {
  content: "~/";
  color: var(--section-header-prefix-color);
  font-weight: var(--fw-regular);
}

p + .section-header,
ul + .section-header {
  margin-top: var(--section-header-gap);
}
