.section-header {
  color: var(--header-color);
  font-size: var(--size-subheader);
  text-decoration: underline;
  text-decoration-color: hsl(
    from var(--header-color) h s l / var(--opacity-light)
  );
  text-decoration-thickness: 0.625ch;
  text-underline-offset: -0.35ch;
  text-decoration-skip-ink: none;

  &::after {
    content: ".";
  }
}

* + .section-header,
* + .section-header {
  margin-top: var(--space-huge);
}
