---
layout: base
---

<article class="center">
    {% if archived %}
    <aside class="callout">
        This post is out-of-date, or I do not agree 100% with its content anymore. It will not be updated, but remains to exist to not break links.
    </aside>
    {% endif %}
    <header class="flex --column --center">
        <h1 class="text-center">{{ title }}</h1>
        <div class="flex --row --center --gap-list | size-small">
            <time class="text-2 italic">{{ date | readableDate }}</time>
            {% include "components/tag-list.njk" %}
        </div>
    </header>
    {{ content | safe }}
</article>

{% set older = collections.posts | getNextCollectionItem(page) %}
{% set newer = collections.posts | getPreviousCollectionItem(page) %}

{% include "components/pagination.njk" %}
