body {
  display: flex;
  flex-direction: column;
  color: var(--text-0);
  background-color: var(--surface-0);
  z-index: 1;
  padding-inline: var(--space-layout);
  font-family: var(--sans-serif);
  font-variation-settings: var(--font-vars-default);
  font-size: var(--size-body);
}

a {
  color: inherit;
  transition: all 200ms;
  text-decoration-color: hsl(
    from var(--link-color) h s l / var(--opacity-effect)
  );
  text-decoration-skip-ink: auto;

  &:not(:is(:hover, :focus)) {
    text-decoration-color: hsl(
      from var(--link-color) h s l / var(--opacity-effect)
    );
  }

  &:is(:hover, :focus) {
    text-decoration-thickness: 0.625ch;
    text-underline-offset: -0.35ch;
    text-decoration-skip-ink: none;
  }
}

h1,
h2,
h3 {
  font-family: var(--sans-serif);
  font-variation-settings: var(--font-vars-header);
  font-weight: var(--fw-bold);
  color: var(--title-color);
}

h1 {
  font-size: var(--size-title);
}

h2 {
  font-size: var(--size-header);
}

h3 {
  font-size: var(--size-subheader);
}

i,
.italic {
  font-variation-settings: "CRSV" 1;
}

::selection {
  color: var(--surface-0);
  background: var(--text-0);
  text-decoration: none;
}
