body {
  display: flex;
  flex-direction: column;
  color: var(--text-0);
  background-color: var(--surface-0);
  z-index: 1;
  padding-inline: var(--layout-space);
  font-family: var(--sans-serif);
}

a:not([class]) {
  color: inherit;
  transition: all 200ms;
  text-decoration-color: hsl(from var(--link-color) h s l / 55%);
  text-decoration-skip-ink: auto;
}

a:not([class]):not(:is(:hover, :focus)) {
  text-decoration-color: hsl(from var(--link-color) h s l / 55%);
}

a:not([class]):is(:hover, :focus) {
  text-decoration-thickness: 0.625ch;
  text-underline-offset: -0.35ch;
  text-decoration-skip-ink: none;
}

::selection {
  color: var(--surface-0);
  background: var(--text-0);
  text-decoration: none;
}
