:root {
  --canvas: var(--p-green-2);
  --logo-color-start: var(--p-green-1);
  --logo-color-end: var(--p-green-2);
  --logo-text: var(--p-orange-0);
  --link-color: var(--p-green-2);
  --list-color: var(--p-green-2);
  --quote-color: var(--p-green-2);
  --header-color: var(--p-green-2);
  --inline-code-color: var(--p-green-2);
  --button-text: var(--p-green-2);
  --button-background: transparent;
  --button-border: var(--p-green-2);
  --box-shadow-color: var(--p-green-0);
  --card-border: var(--p-green-2);
  --info-background: var(--p-orange-0);
  --info-text: var(--p-neutral-5);
}

/**
 * DARK THEME
 */
@media (prefers-color-scheme: dark) {
  :root {
    --canvas: var(--p-orange-0);
    --logo-color-start: var(--p-green-0);
    --logo-color-end: var(--p-green-1);
    --logo-text: var(--p-green-2);
    --link-color: var(--p-green-1);
    --list-color: var(--p-orange-0);
    --quote-color: var(--p-orange-0);
    --header-color: var(--p-orange-0);
    --inline-code-color: var(--p-orange-0);
    --button-text: var(--p-orange-0);
    --button-background: transparent;
    --button-border: var(--p-orange-0);
    --box-shadow-color: var(--p-orange-0);
    --card-border: var(--p-orange-0);
    --info-background: var(--p-orange-0);
    --info-text: var(--p-neutral-5);
  }
}
