:root {
  /** NEUTRAL */
  --p-neutral-0: hsl(215, 24%, 98%);
  --p-neutral-1: hsl(215, 24%, 92%);
  --p-neutral-2: hsl(215, 18%, 78%);
  --p-neutral-3: hsl(215, 18%, 36%);
  --p-neutral-4: hsl(215, 18%, 22%);
  --p-neutral-5: hsl(215, 18%, 8%);

  /** BRAND COLORS */
  --p-orange-0: #f2c89d;
  --p-orange-1: #dca87a;
  --p-orange-2: #f56538;
  --p-green-0: #55e3be;
  --p-green-1: #25ac89;
  --p-green-2: #1c756a;
  --p-yellow-0: #ffd27f;

  /** BREAKPOINTS (1.33 scale) */
  --p-bp-scale: 1.33;
  --p-bp-0: 20rem;
  --p-bp--2: calc(var(--p-bp-0) * pow(var(--p-bp-scale), -2));
  --p-bp--1: calc(var(--p-bp-0) * pow(var(--p-bp-scale), -1));
  --p-bp-1: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 1));
  --p-bp-2: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 2));
  --p-bp-3: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 3));
  --p-bp-4: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 4));
  --p-bp-5: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 5));

  /** SPACING & SIZES */
  --p-size-scale: 1.25;
  --p-size-0: round(down, clamp(1rem, 0.913rem + 0.4348vw, 1.25rem), 0.5px);
  --p-size--2: round(down, calc(var(--p-size-0) * pow(var(--p-size-scale), -2)), 0.5px);
  --p-size--1: round(down, calc(var(--p-size-0) * pow(var(--p-size-scale), -1)), 0.5px);
  --p-size-1: round(down, calc(var(--p-size-0) * pow(var(--p-size-scale), 1)), 0.5px);
  --p-size-2: round(down, calc(var(--p-size-0) * pow(var(--p-size-scale), 2)), 0.5px);
  --p-size-3: round(down, calc(var(--p-size-0) * pow(var(--p-size-scale), 3)), 0.5px);
  --p-size-4: round(down, calc(var(--p-size-0) * pow(var(--p-size-scale), 4)), 0.5px);
  --p-size-5: round(down, calc(var(--p-size-0) * pow(var(--p-size-scale), 5)), 0.5px);

  /** RADIUS */
  --p-radius-scale: 0.25rem;
  --p-radius-0: 0;
  --p-radius-1: calc(var(--p-radius-scale) * 1);
  --p-radius-2: calc(var(--p-radius-scale) * 2);
  --p-radius-3: calc(var(--p-radius-scale) * 3);
  --p-radius-4: calc(var(--p-radius-scale) * 4);
  --p-radius-5: calc(var(--p-radius-scale) * 5);
  --p-radius-6: calc(var(--p-radius-scale) * 6);
  --p-radius-7: calc(var(--p-radius-scale) * 7);
  --p-radius-8: calc(var(--p-radius-scale) * 8);

  /** FONT-WEIGHT */
  --p-fw-3: 300;
  --p-fw-4: 400;
  --p-fw-5: 500;
  --p-fw-6: 600;
  --p-fw-7: 700;
}
