:root {
  /** COLORS */
  --text-0: light-dark(var(--p-neutral-5), var(--p-neutral-0));
  --text-1: light-dark(var(--p-neutral-4), var(--p-neutral-1));
  --text-2: light-dark(var(--p-neutral-3), var(--p-neutral-2));
  --surface-0: light-dark(var(--p-neutral-0), var(--p-neutral-5));
  --surface-1: light-dark(var(--p-neutral-1), var(--p-neutral-4));
  --surface-2: light-dark(var(--p-neutral-2), var(--p-neutral-3));

  --accent-color: light-dark(var(--p-green-2), var(--p-orange-0));
  --link-color: light-dark(var(--p-orange-1), var(--p-green-1));
  --title-color: var(--text-0);
  --header-color: light-dark(var(--p-orange-2), var(--p-orange-0));
  --button-color: light-dark(var(--p-green-2), var(--p-orange-0));
  --divider-color: var(--surface-2);
  --canvas-color: var(--accent-color);
  --glow-color: hsl(
    from var(--accent-color) h s l / var(--opacity-background-glow)
  );

  --code-inline: light-dark(var(--p-orange-2), var(--p-orange-0));
  --code-default: var(--p-neutral-0);
  --code-muted: var(--p-neutral-2);
  --code-primary: var(--p-orange-0);
  --code-secondary: var(--p-green-0);
  --code-tertiary: var(--p-yellow-0);
  --code-bg: var(--p-neutral-4);

  --logo-color-start: light-dark(var(--p-orange-0), var(--p-orange-0));
  --logo-color-end: light-dark(var(--p-orange-1), var(--p-orange-1));
  --logo-color-border: light-dark(var(--p-neutral-5), transparent);
  --logo-text: light-dark(var(--p-orange-1), var(--p-orange-2));

  /** FONT-FAMILIES */
  --sans-serif: "Recursive", source-sans-pro, system-ui, sans-serif;
  --monospace: "Recursive", ui-monospace, monospace;

  /* FONT-WEIGHT */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --font-vars-default: "MONO" 0, "CASL" 0.15, "slnt" 0, "CRSV" 0;
  --font-vars-header: "MONO" 0, "CASL" 0, "slnt" 0, "CRSV" 1;
  --font-vars-code: "MONO" 1, "CASL" 0, "slnt" 0, "CRSV" 0;
  --font-vars-logo: "MONO" 0.5, "CASL" 0.5, "slnt" 0, "wght" 600, "CRSV" 1;

  /** FONT-SIZES */
  --size-body: var(--p-size-0);
  --size-title: var(--p-size-4);
  --size-header: var(--p-size-2);
  --size-subheader: var(--p-size-1);
  --size-small: var(--p-size--1);

  /** SPACING */
  --space-none: 0;
  --space-layout: var(--p-size-2);
  --space-gap-list: var(--p-size--2);
  --space-small: var(--p-size--2);
  --space-default: var(--p-size-0);
  --space-large: var(--p-size-2);
  --space-huge: var(--p-size-4);

  /** LAYOUT */
  --layout-small: var(--p-bp-1);
  --layout-width: min(100%, calc(var(--p-bp-5) - 2 * var(--space-layout)));
  --layout-main-content: var(--p-bp-3);
  --layout-article: 47rem;

  /** BOX-SHADOW */
  --shadow-y: 0px;
  --shadow-blur: var(--p-size-3);

  /** BORDER-WIDTH */
  --bw-default: 1px;
  --bw-effect: 2px;

  /** OPACITY */
  --opacity-background-glow: 10%;
  --opacity-light: 25%;
  --opacity-effect: 60%;
}

@media (--bp-layout) {
  :root {
    --space-layout: var(--p-size-0);
  }
}
