/**
 * REDIRECT LINKS
 *
 * Links with a clear intention to move users to a different page (e.g.
 * overview page).
 */

.btn {
  --button-padding: 2px;
  --button-text: var(--color-text-0);

  text-decoration: none;
  text-align: center;
  font-weight: var(--fw-bold);
  color: var(--button-text);
  border-bottom: var(--bw-effect) solid var(--color-button);

  padding-block: var(--button-padding);
  transition: all var(--duration-0);
  line-height: 1;

  &::after {
    content: "→";
    margin-left: var(--space-small);
  }
}

.btn:is(:hover, :focus) {
  --button-text: var(--color-button);

  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.97);
}
