/**
 * REDIRECT LINKS
 *
 * Links with a clear intention to move users to a different page (e.g.
 * overview page).
 */

.btn {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--p-size--1);
  font-weight: bold;
  color: var(--button-text);
  background: var(--button-background);
  border: 2px solid var(--button-border);
  padding: 0.5em var(--p-size--2);
  border-radius: var(--radius);
  transition: all 0.2s;
}

.btn:is(:hover, :focus) {
  box-shadow: var(--box-shadow);
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.97);
}
