---
title: 404 - oh no...
permalink: 404.html
layout: base
---

<div class="--full-width flex --column --gap-default --center">
  <aside class="--sticker">
    {% include "svg/robot.svg" %}
  </aside>
  <h1 class="text-center">
    Oh no, I
    <span class="text-glitch --delay-0 --duration-0">interrupted</span> your
    journey, so you found a
    <span class="text-glitch --delay-1 --duration-1">broken</span> page.
  </h1>
  <a href="/" class="btn">Go to the homepage</a>
</div>
