---
layout: page
width: 5
title: User manual
sticker: svg/sticker-coffee.svg
---

<section class="--main">
  <h2 class="section-header">Who</h2>
  <p>
    I am a Dutch software engineer, specialised in the web platform as a
    whole. I enjoy <a href="/writing">writing</a> about all the exciting new
    stuff I encounter about the web development and security for the web. Like
    many, I drink a lot of coffee to get throughout the day. Those two small
    kids of mine certainly won't help cut down on the caffeine intake. But
    whenever I have time and energy, and I am not working on
    <i>crinkles</i> or
    <a href="https://feo.crinkles.dev">feo.css</a>, I do love to play some
    videogames. It is no secret that Pokemon is my favorite franchise.
  </p>

  <h2 class="section-header">What</h2>
  <p>
    I specialize in development around the web platform. In particular
    <b>CSS</b>, and <b>(web-)security</b>.
    I am always open for open conversations around mentoring, consulting, or
    reviewing on these topics.
  </p>
  <h2 class="section-header">Technologies</h2>
  <ul>
    <li><b>Web</b>: HTML, CSS & JavaScript</li>
    <li>
      <b>Package development</b>: JavaScript & TypeScript
    </li>
    <li>
      <b>UI frameworks</b>: Svelte(Kit), React, Eleventy
    </li>
    <li>
      <b>Architecture</b>: iSAQB, C4, MermaidJS, PlantUML
    </li>
    <li><b>Security</b>: Python, bash</li>
  </ul>

  <h2 class="section-header">Where</h2>
  <p>I live in the Netherlands with my family.</p>

  <h2 class="section-header">Work</h2>
  <p>
    I work for Finaps a (small-ish) software agency based in Amsterdam, the
    Nethelands. Here I lead a department of ~15 software engineers, and lead
    our technical innovation initiatives.
  </p>

  <h2 class="section-header">Pokemon</h2>
  <ul>
    <li>
      <b>Flareon</b>: I think this is my favorite at the moment. The
      Eeveelutions are popular in my family. And as a genwunner that always
      used Squirtle, I needed a fire-type and this was always the one.
      Fluffy but undervalued.
    </li>
    <li>
      <b>Rowlet</b>: I love owls in general, and that little bow tie
      just sells the entire vibe.
    </li>
    <li>
      <b>Squirtle</b>: the very first pokemon I chose in Pokemon Blue.
      As a child I could not get enough of this one.
    </li>
    <li>
      <b>Flapple</b>: who doesn't like a small frantically flying
      apple? Especially the green shiny looks spectacular.
    </li>
  </ul>
</section>

<aside class="--side flex --column --center">
  <div class="card | flex --column --center">
    <h2 class="mb-2 text-center">You can find me here</h2>
    {% include "partials/socials.njk" %}
  </div>

  <a href="/uses" class="mt-2 | btn">Or take a look at my /uses page.</a>
</aside>
