---
layout: page
title: User manual
sticker: svg/sticker-coffee.svg
---

<article class="--main">
  <h2 class="section-header">Who</h2>
  <p>

    am a Dutch software engineer with a particular interest in the web platform and the systems that make it work. I enjoy <a href="/writing">writing</a> about web development, security, and the ideas I encounter while building software.

   Like many engineers, I drink more coffee than I probably should. Having two young kids certainly does not help reduce the caffeine intake.

   When I am not working on <i>crinkles.dev</i> or <a href="https://feo.crinkles.dev">feo.css</a>, I enjoy playing video games. Pokémon has been my favourite franchise for as long as I can remember.
  </p>

  <h2 class="section-header">What</h2>
  <p>
    I specialize in development around the web platform. In particular
    <b>CSS</b>, and <b>(web-)security</b>.
    I am always open for open conversations around mentoring, consulting, or
    reviewing on these topics.
  </p>

  <h2 class="section-header">Technologies</h2>
  <p>These are the technologies I use throughout the day for what I do.
  <ul>
    <li><b>Web</b>: HTML, CSS & JavaScript</li>
    <li>
      <b>Package development</b>: JavaScript & TypeScript
    </li>
    <li>
      <b>UI frameworks</b>: Svelte(Kit), React, Eleventy
    </li>
    <li>
      <b>Architecture</b>: iSAQB, C4, MermaidJS, PlantUML
    </li>
    <li><b>Security</b>: Python, bash</li>
  </ul>

  <h2 class="section-header">Where</h2>
  <p>I live in the Netherlands with my family.</p>

  <h2 class="section-header">Work</h2>
  <p>
    I work for Finaps a (small-ish) software agency based in Amsterdam, the
    Nethelands. Here I lead a department of ~15 software engineers, and lead
    our technical innovation initiatives.
  </p>

  <h2 class="section-header">Pokemon</h2>
  <p>Not going to lie. I am a big fan of Pokemon (my entire family is!). So these are, in general, my favorite.</p>
  <ul>
    <li>
      <b>Flareon</b>: The
      Eeveelutions are popular in my family. And as a genwunner that always
      used Squirtle, I needed a fire-type and this was always the one.
      Fluffy but undervalued.
    </li>
    <li>
      <b>Rowlet</b>: I love owls in general, and that little bow tie
      just sells the entire vibe.
    </li>
    <li>
      <b>Squirtle</b>: the very first pokemon I chose in Pokemon Blue.
      As a child I could not get enough of this one.
    </li>
    <li>
      <b>Flapple</b>: who doesn't like a small frantically flying
      apple? Especially the green shiny looks spectacular.
    </li>
  </ul>
</article>

<aside class="--side">
  {%- from 'partials/meta.njk' import metadata %}
  {{ metadata({ card: true }) }}
</aside>
