---
layout: base
---

<h1 class="--title">Hello, I'm Kevin.</h1>

<section class="--main | flex --column --gap-huge --start">
  <section>
    <p class="card maxw-small">
      Front-end engineer specializing in CSS and security. I write about architecture and the craft of building thoughtful software. This is my <i>corner</i> of the internet.
    </p>
  </section>
</section>

<section class="--extra | flex --column --gap-default">
  <div class="repel --center">
    <h2 class="section-header">Recent posts</h2>
    <a href="/writing" class="btn">All posts</a>
  </div>

  <div class="flex --column --gap-default">
    {% set posts = collections.posts | head(3) %}
    {% include "components/post-list.njk" %}
  </div>
</section>

<section class="--sticker | flex --column --center">{% include "svg/sticker-laptop.svg" %}</section>

<section class="--side | flex --column --center">
  {%- from 'partials/meta.njk' import metadata %}
  {{ metadata() }}
</section>
