---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.url.endsWith("/") and not page.data.excludeFromSitemap %}
  <url>
    <loc>{{ page.url | absoluteUrl(metadata.url) }}</loc>
    <lastmod>{{ page.date | dateToRfc3339 }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
