---
layout: page
eleventyExcludeFromCollections: true
sticker: svg/sticker-book.svg
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - writing
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: "Category: '{{ tag }}'"
---

{% set selected = tag %}
<section class="--main">
  {% set posts = collections[ tag ] | reverse or [] %} {% include
  "components/post-list.njk" %}
</section>

<aside class="--side">
  <div class="card | flex --column --gap-default">
    <h2>Categories</h2>
    {% set tags = collections.posts | getAllTags %}
    {% include "components/tag-list.njk" %}
  </div>
</aside>
