---
layout: page
title: /uses
sticker: svg/sticker-tech.svg
---

<article class="--main">
  <h2 class="section-header">Hardware</h2>
  <ul>
    <li>Apple MacBook Pro 2023 (M2 Pro), 14inch</li>
    <li>Apple iPhone 17 Pro</li>
    <li>Apple iPad Mini (6th gen)</li>
    <li>Apple Magic Trackpad 2 & Logitech MX Anywhere 3S</li>
    <li>Apple Airpods Pro 2</li>
    <li>Nuphy Air75</li>
    <li>Twelve South Curve SE</li>
  </ul>

  <h2 class="section-header">Software</h2>
  <ul>
    <li>
      <a href="https://culturedcode.com/things/">Things 3</a>: the core task manager that runs my life. I am one of those people that keeps switching between apps. Todoist, Apple Reminders, you name it. All have good points, and all have bad points. But one thing is clear with Things 3, the UI & UX is sublime. Ideally I would have Things 3 not with the areas and projects, but just with lists. So Apple Reminders but with a vastly better experience. But this works for now.
    </li>
    <li>
      <a href="https://bear.app">Bear</a>: all my knowledge, meeting notes,
      project overviews, etc. are stored here.
    </li>
    <li>
      <a href="https://tot.rocks">Tot</a>: my scratchpad to quickly make
      small notes that sync. From here stuff goes to Things, Bear, or in a
      <span class="tag">void</span>.
    </li>
    <li>
      <span>Apple Calendar</span>: more than suffices for my need of a
      calendar.
    </li>
    <li>
      <span>Apple Mail</span>: more than suffices for my need of a mail
      client.
    </li>
    <li>
      <a href="https://pasteapp.io">Paste</a>: a clipboard manager that
      makes it a lot easier to do a lot of copy+paste.
    </li>
    <li>
      <a href="https://www.goldenhillsoftware.com/unread/">Unread</a>: for
      the little bit of RSS I use.
    </li>
    <li>
      <a href="https://helloweather.com">Hello Weather</a>: beautiful
      weather app on all platforms.
    </li>
  </ul>

  <h2 class="section-header">Code & Design</h2>
  <ul>
    <li>
      <a href="https://zed.dev">Zed</a>: it is a nice fast editor, but I am
      not really tied to any particular editor.
    </li>
    <li>
      <a href="https://ghostty.org">Ghostty</a>: a nice looking terminal.
    </li>
    <li>
      <a href="https://vivaldi.com">Vivaldi</a>: every web developer needs a
      browser. This is mine.
    </li>
    <li>
      <a href="https://www.figma.com">Figma</a>: I am no designer. But what
      I do, I do in Figma (because its free, not gonna lie).
    </li>
    <li>
      <span>Claude/Mistral</span>: I want to like Mistral better as a European citizen, but it is often not reliable enough for me. So I come back to Claude very often.
    </li>
  </ul>

  <h2 class="section-header">Games & Media</h2>
  <ul>
    <li>
      <span>Nintendo Switch 2</span>: my main gaming device (currently:
      <i>Inazuma Eleven: Victory Road</i>).
    </li>
    <li><span>Gamesir x5s</span>: makes my iPad Mini a handheld device.</li>
    <li><span>Netflix & Disney+</span>: must-haves for the kids.</li>
    <li>
      <a href="https://castro.fm">Castro Podcasts</a>: for listening to my
      podcasts. The recent ownership transfer revitalized this app.
    </li>
    <li><span>Apple Music</span>: for the beats.</li>
  </ul>
</article>

<aside class="--side flex --column --center">
  <div class="card | flex --column --center">
    <h2 class="mb-2 text-center">You can find me here</h2>
    {% include "partials/socials.njk" %}
  </div>
</aside>
