---
title: Stuff I write about
sticker: svg/sticker-book.svg
layout: page
eleventyExcludeFromCollections: true
---

<section class="--main">
  {% set posts = collections.posts %}
  {% include "components/post-list.njk" %}
</section>

<aside class="--side flex --column --center">
  <div class="card | flex --column --center">
    <h2>Categories</h2>
    {% set tags = collections.posts | getAllTags %}
    {% include "components/tag-list.njk" %}
  </div>
</aside>
