<footer id="site-footer" class="flex --column --gap-list">
  <div class="switcher --threshold-small --gap-list">
    <div class="flex --column --start">
      <div><span class="quote text-glitch">crinkles</span></div>
      <div><i>Thoughtful software with character.</i></div>
    </div>
    <div class="flex --column --end">
      <span>© {% year %} Kevin Pennekamp</span>
      {% include "partials/socials.njk" %}
    </div>
  </div>
</footer>
