<footer id="site-footer" class="flex --column --gap-list">
  <div class="switcher --threshold-small --gap-list">
    <div class="flex --column --start">
      <span class="quote"><span class="code">~/</span><span class="code">{</span><span class="text-glitch">crinkles</span><span class="code">}</span>
    </div>
    <div class="flex --column --end">
      <span>© {% year %} Kevin Pennekamp</span>
      {% include "partials/socials.njk" %}
    </div>
  </div>
</footer>
