<footer id="site-footer" class="flex --column --gap-list center">
  <div class="switcher --threshold-small --gap-list">
    <div class="flex --column --start">
      <div><span class="quote text-glitch">crinkles</span></div>
      <div><i>Thoughtful software with character.</i></div>
    </div>
    <div class="flex --column --end">
      <span>© {% year %} Kevin Pennekamp</span>
      <ul class="cluster --gap-list | monospace size-small">
        <li>
          <a rel="me" href="https://github.com/thecrinkles" title="Link to my Github page">
            github
          </a>
        </li>
        <li>
          <a rel="me" href="https://bsky.app/profile/crinkles.dev" title="Link to my Bluesky page">
          		bsky
        	</a>
        </li>
        <li>
          <a rel="me" href="https://front-end.social/@crinkles" title="Link to my Mastodon page">
          		mastodon
        	</a>
        </li>
        <li>
          <a href="{{ metadata.feed.path | url }}" title="RSS feed">
            rss
          </a>
      	</li>
      	<li>
          <a href="/uses" title="/uses page">
            /uses
         	</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
