<header class="main-header center | repel">
  <a href="/" class="logo flex --row">
    {% include "partials/signature.njk" %}
    {% include "svg/lettermark.svg" %}
  </a>

  <nav aria-label="Main site navigation">
    <ul class="hover-group-grow | cluster --gap-default">
      <li><a href="/" {% if page.url == '/' %} aria-current="page"{% endif %}>home</a></li>
      <li><a href="/writing" {% if page.url.includes('/writing/') %}aria-current="page"{% endif %}>blog</a></li>
      <li><a href="/about" {% if page.url == '/about/' %}aria-current="page"{% endif %}>about</a></li>
    </ul>
  </nav>
</header>
