<ul role="list" class="hover-group-grow | cluster --gap-list --justify-center | monospace size-small">
  <li>
    <a rel="me" href="https://github.com/thecrinkles" title="Link to my Github page">
      github
    </a>
  </li>
  <li>
    <a rel="me" href="https://bsky.app/profile/crinkles.dev" title="Link to my Bluesky page">
    		bsky
  	</a>
  </li>
  <li>
    <a rel="me" href="https://front-end.social/@crinkles" title="Link to my Mastodon page">
    		mastodon
  	</a>
  </li>
  <li>
    <a href="{{ metadata.feed.path | url }}" title="RSS feed">
      rss
		</a>
	</li>
</ul>
